################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
md5sum=35589e7b8fe9c54e11be87cd5aec4dcc
url = http://${mirrors:gentoo}/distfiles/htmldoc-1.8.27-source.tar.bz2

[mirrors]
gentoo=gentoo.tiscali.nl

